<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header-admin-home'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>User Logs</h1>
            <p>Logs listed below.</p>
            
            <form action="/admin/delete-logs" method="DELETE">
                <button type="submit" class="btn btn-danger btn-block">Delete User Logs</button>
            </form>
            
            <ul>
                <% logs.forEach(function(log) { %>
                    <li>
                        <strong><%= log.timestamp; %></strong>
                        <br>
                        <span><%= log.message %></span>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
