<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header-admin-home'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Kullanıcılar</h1>
            <ul>
                <% users.forEach(function(user) { %>
                    <li>
                        <strong><%= user.name; %></strong>
                        <strong><%= user.surname; %></strong>
                        | <%= user.email %>
                        <% if(user.age !== "") { %>
                            <ul>
                                <li><strong>Yaş: </strong><%= user.age %></li>
                                <li><strong>Cinsiyet: </strong><%= user.gender %></li>
                                <li><strong>Okul/Üniversite: </strong><%= user.studentVar1 %></li>
                                <li><strong>Bölüm/Sınıf: </strong><%= user.studentVar2 %></li>
                                <li><strong>Meslek: </strong><%= user.job %></li>
                            </ul>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
