<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <!-- Flash Messages for Screen Readers -->
    <% if (messages.success) { %>
        <div class="sr-only">
            <h4>Hoş geldiniz <%= name %> <%= surname %>!</h4>
        </div>
    <% } %>
    
<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-home'); %>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <!-- Flash Messages -->
            <div class="jumbotron">
                <% if (messages.success) { %>
                    <div class="alert alert-info font-raleway" aria-hidden="true">
                        <h4>Hoş geldiniz <%= name %> <%= surname %>!</h4>
                    </div>
                <% } %>
                
                <!-- Kişisel Bilgi Formu -->
                <div class="jumbotron">
                    <h3 class="font-raleway">Kişisel Bilgiler</h3>
                    <span class="lead">Lütfen Kişisel Bilgi Formu'nu doldurunuz.</span>
                    <br>
                    <small class="text-muted">*Kişisel bilgileriniz yalnızca araştırma kapsamında verilerin analiz edilmesi amacıyla kullanılacak ve gizli tutulacaktır.</small>
                    <button id="personalInfoButton" type="button" class="btn btn-info  btn-lg btn-block" data-toggle="modal" data-target="#personalInfoModal">Kişisel Bilgi Formu</button>
                </div>
                
                <!--  Sınava Başla -->
                <div class="jumbotron">
                    <h3 class="font-raleway">Sınava Başla</h3>
                    <span class="lead">Lütfen sınava başlamadan önce </span>
                    <a class="lead" href="#">Kullanım Kılavuzu'nu</a>
                    <span class="lead"> okuyunuz.</span>
                    <button id="startExamModalButton" type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#startExamModal">Sınava Başla</button>
                </div>
            </div>
        </div>
        
        <%- include('../partials/sidebar'); %>
        
    </div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

<!-- Personal Info Modal -->
<div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personalInfoModalLabel">Kişisel Bilgi Formu</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body jumbotron">
            <form action="/save-personal-info" method="POST">
                <div class="form-group row">
                    <label for="inputStaticName" class="col-sm-2 col-form-label h6" role="heading">Ad</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputStaticName" name="name" value="<%= name %>" style="border:0;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStaticSurname" class="col-sm-2 col-form-label h6" role="heading">Soyad</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputStaticSurname" name="surname" value="<%= surname %>" style="border:0;">
                    </div>
                </div>
                <div class="form-group row">
                  <label for="inputStaticEmail" class="col-sm-2 col-form-label h6" role="heading">E-posta</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="inputStaticEmail" name="email" value="<%= email %>" style="border:0;">
                  </div>
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <div class="form-group">
                    <label class="h6" for="inputAge" role="heading">Yaş</label>
                    <input type="text" class="form-control" id="inputAge" name="age" aria-describedby="" placeholder="Yazınız" required>
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <label class="h6" for="" role="heading">Cinsiyet</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genderRadios" id="inputRadioGender1" value="Kadın">
                  <label class="form-check-label" for="inputRadioGender1">Kadın</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genderRadios" id="inputRadioGender2" value="Erkek">
                  <label class="form-check-label" for="inputRadioGender2">Erkek</label>
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <div class="form-group">
                    <label class="h6" for="inputJob" role="heading">Meslek</label>
                    <input type="text" class="form-control" id="inputJob" name="job" aria-describedby="" placeholder="Yazınız" required>
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <label class="h6" for="" role="heading">Kullandığınız kişisel teknolojileri belirtiniz.</label>
                <small class="form-text text-muted" style="margin-top:-10px;padding-top:0;">Birden fazla seçim yapabilirsiniz.</small>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="personalTech" value="Akıllı telefon (iOS)" id="personalTechCheck1">
                  <label class="form-check-label" for="personalTechCheck1">Akıllı telefon (iOS)</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="personalTech" value="Akıllı telefon (Android)" id="personalTechCheck2">
                  <label class="form-check-label" for="personalTechCheck2">Akıllı telefon (Android)</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="personalTech" value="Dizüstü bilgisayar" id="personalTechCheck3">
                  <label class="form-check-label" for="personalTechCheck3">Dizüstü bilgisayar</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="personalTech" value="Masaüstü bilgisayar" id="personalTechCheck4">
                  <label class="form-check-label" for="personalTechCheck4">Masaüstü bilgisayar</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="personalTech" value="Tablet bilgisayar" id="personalTechCheck5">
                  <label class="form-check-label" for="personalTechCheck5">Tablet bilgisayar</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="personalTechCheck6">
                  <label class="form-check-label" for="personalTechCheck6">Diğer</label>
                  <input hidden type="text" class="form-control" id="inputPersonalTechCheck6" name="personalTech" aria-describedby="" placeholder="Yazınız" aria-label="Varsa sahip olduğunuz diğer kişisel teknolojileri yazınız.">
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <div class="form-group">
                    <label class="h6" for="inputAssistiveTechs" role="heading">Kullandığınız yardımcı teknolojileri belirtiniz.</label>
                    <textarea class="form-control" id="inputAssistiveTechs" name="assistiveTechs" rows="2" aria-describedby="" placeholder="Ekran okuyucu (ör. JAWS), ekran büyüteci (ör. Windows/Büyüteç), braille ekran vb." required></textarea>
                </div>
                <hr style="border:1px solid #888;" arial-hidden="true">
                <label class="h6" for="" role="heading">Kullandığınız işletim sistemini seçiniz.</label>
                <small class="form-text text-muted" style="margin-top:-10px;padding-top:0;">Birden fazla seçim yapabilirsiniz.</small>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="opSystem" value="Windows" id="opSystemCheck1">
                  <label class="form-check-label" for="opSystemCheck1">Windows</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="opSystem" value="macOS" id="opSystemCheck2">
                  <label class="form-check-label" for="opSystemCheck2">macOS</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="opSystemCheck3">
                  <label class="form-check-label" for="opSystemCheck3">Diğer</label>
                  <input hidden type="text" class="form-control" id="inputOpSystemCheck3" name="opSystem" aria-describedby="" placeholder="Yazınız" aria-label="Varsa kullandığınız diğer işletim sistemlerini yazınız.">
                </div>
                <div style="margin-top:20px;">
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
        <!--button type="button" class="btn btn-info btn-block">Kaydet</button-->
      </div>
    </div>
</div>
</div>
<!-- Start Exam Modal -->
<div class="modal fade" id="startExamModal" tabindex="-1" role="dialog" aria-labelledby="startExamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="startExamModalLabel">Kullanım Kılavuzu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lead">
        Lütfen sınava başlamadan önce Kullanım Kılavuzu'nu okuyunuz.
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button-->
        <button type="button" class="btn btn-info" onclick="location.href='#';">Kullanım Kılavuzu'na Git</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/test';">Sınava Başla</button>
      </div>
    </div>
</div>
</div>

<!-- Ajax scripts -->
<%- include('../partials/script'); %>

</body>
</html>
