<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-home'); %>
</header>

<main class="container">
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
                <% if (messages.success) { %>
                    <div class="alert alert-info font-raleway">
                        <h4>Hoş geldiniz <%= name %> <%= surname %>!</h4>
                    </div>
                <% } %>
                <div class="jumbotron">
                        <h3 class="font-raleway">Sınava Başla</h3>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick="location.href='/test';" >Sınava Başla</button>
                </div>
                <div class="jumbotron">
                        <h3 class="font-raleway">Kişisel Bilgiler</h3>
                        <button type="button" class="btn btn-info  btn-lg btn-block" onclick="">Kişisel Bilgi Formu</button>
                </div>
        </div>
    </div>

    <div class="col-sm-4 filter-grayscale">
        <div class="jumbotron filter-grayscale">
                <div class="filter-blur sidebar">
                    <h3 class="font-raleway">Görme Engelli Bireylere Yönelik Web Tabanlı Sınav Uygulaması</h3>
                </div>
        </div>
    </div>

</div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
