<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <!-- Flash Messages for Screen Readers -->
    <% if (messages.success) { %>
        <div class="sr-only">
            <h4>Hoş geldiniz <%= name %> <%= surname %>!</h4>
        </div>
    <% } %>
    
<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-home'); %>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <!-- Flash Messages -->
            <div class="jumbotron">
                <% if (messages.success) { %>
                    <div class="alert alert-info font-raleway" aria-hidden="true">
                        <h4>Hoş geldiniz <%= name %> <%= surname %>!</h4>
                    </div>
                <% } %>
                
                <!-- Kişisel Bilgi Formu -->
                <div class="jumbotron">
                    <h3 class="font-raleway">Kişisel Bilgiler</h3>
                    <span class="lead">Lütfen Kişisel Bilgi Formu'nu doldurunuz.</span>
                    <br>
                    <small class="text-muted">*Kişisel bilgileriniz yalnızca araştırma kapsamında verilerin analiz edilmesi amacıyla kullanılacak ve gizli tutulacaktır.</small>
                    <button id="personalInfoButton" type="button" class="btn btn-info  btn-lg btn-block" data-toggle="modal" data-target="#personalInfoModal">Kişisel Bilgi Formu</button>
                </div>
                
                <!--  Sınava Başla -->
                <div class="jumbotron">
                    <h3 class="font-raleway">Sınava Başla</h3>
                    <span class="lead">Lütfen sınava başlamadan önce </span>
                    <a class="lead" href="#">Kullanım Kılavuzu'nu</a>
                    <span class="lead"> okuyunuz.</span>
                    <button id="startExamModalButton" type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#startExamModal">Sınava Başla</button>
                </div>
            </div>
        </div>
        
        <%- include('../partials/sidebar'); %>
        
    </div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

<!-- Personal Info Modal -->
<div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personalInfoModalLabel">Kişisel Bilgi Formu</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <!--h6><%= name %> <%= surname %></h6-->
            <!--form action="/save-personal-info" method="POST">
                <div class="form-group row">
                    <label for="inputStaticName" class="col-sm-2 col-form-label">Ad</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputStaticName" name="name" value="<%= name %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStaticSurname" class="col-sm-2 col-form-label">Soyad</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputStaticSurname" name="surname" value="<%= surname %>">
                    </div>
                </div>
                <div class="form-group row">
                  <label for="inputStaticEmail" class="col-sm-2 col-form-label">E-posta</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="inputStaticEmail" value="<%= email %>">
                  </div>
                </div>
                <div class="form-group">
                    <label for="inputAge">Yaş</label>
                    <input type="text" class="form-control" id="inputAge" name="age" aria-describedby="" placeholder="Yaşınız" required>
                </div>
                <!--div class="form-check">
                  <input class="form-check-input" type="radio" name="inputGender" id="inputRadioGender1" value="1" checked>
                  <label class="form-check-label" for="inputRadioGender1">
                    Kadın
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="inputGender" id="inputRadioGender2" value="2">
                  <label class="form-check-label" for="inputRadioGender2">
                    Erkek
                  </label>
                </div>
                <div class="form-group">
                    <label for="inputGender">Cinsiyet</label>
                    <input type="text" class="form-control" id="inputGender" name="gender" aria-describedby="" placeholder="Soyadınızı yazın..." required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">E-posta</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="E-postanızı girin..." required>
                    <small id="emailHelp" class="form-text text-muted">E-posta adresiniz kimseyle paylaşılmayacaktır.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Parola</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Parolanızı girin..." required>
                </div-->
                <!--button type="submit" class="btn btn-primary btn-block">Kaydet</button-->
            </form-->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf95Opup0BPdTiEPpFDiiIOYh2FvVKwwpTEDuh63s9SyJXAkg/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
        <!--button type="button" class="btn btn-info btn-block">Kaydet</button-->
      </div>
    </div>
</div>
</div>
<!-- Start Exam Modal -->
<div class="modal fade" id="startExamModal" tabindex="-1" role="dialog" aria-labelledby="startExamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="startExamModalLabel">Kullanım Kılavuzu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lead">
        Lütfen sınava başlamadan önce Kullanım Kılavuzu'nu okuyunuz.
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button-->
        <button type="button" class="btn btn-info" onclick="location.href='#';">Kullanım Kılavuzu'na Git</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/test';">Sınava Başla</button>
      </div>
    </div>
</div>
</div>

<!-- Ajax scripts -->
<%- include('../partials/script'); %>

</body>
</html>
