<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    
<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-home'); %>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <!-- Flash Messages -->
            <div class="jumbotron">
                <% if (messages.success) { %>
                    <div id="greetingMsg" class="alert alert-info font-raleway" role="alert">
                        <h4 style="font-weight:bold;">Hoş geldiniz <%= name %> <%= surname %>!</h4>
                    </div>
                <% } %>
                <% if (msgPersonalInfo !== "") { %>
                    <div id="msgPersonalInfo" class="alert alert-info font-raleway" role="alert">
                        <h4><strong><%= msgPersonalInfo %></strong></h4>
                    </div>
                <% } %>
                
                <!-- Kişisel Bilgi Formu -->
                <div class="jumbotron">
                    <h3 class="font-raleway">Kişisel Bilgiler</h3>
                    <span class="lead">Lütfen Kişisel Bilgi Formu'nu doldurunuz.</span>
                    <br>
                    <small class="text-muted">*Kişisel bilgileriniz yalnızca araştırma kapsamında verilerin analiz edilmesi amacıyla kullanılacak ve gizli tutulacaktır.</small>
                    <button id="personalInfoButton" type="button" class="btn btn-info  btn-lg btn-block">Kişisel Bilgi Formu</button>
                </div>
                
                <!--  Sınava Başla -->
                <div id="startExamDiv" class="jumbotron">
                    <h3 class="font-raleway">Sınava Başla</h3>
                    <span class="lead">Lütfen sınava başlamadan önce </span>
                    <a class="lead" href="#">Kullanım Kılavuzu'nu</a>
                    <span class="lead"> okuyunuz.</span>
                    <button id="startExamModalButton" type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#startExamModal">Sınava Başla</button>
                </div>
            </div>
        </div>
        
        <%- include('../partials/sidebar'); %>
        
    </div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

<!-- Personal Info Modal -->
<!--div class="modal fade" id="personalInfoModal" tabindex="-1" role="dialog" aria-labelledby="personalInfoModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personalInfoModalLabel">Kişisel Bilgi Formu</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body jumbotron">
            
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
        <!--button type="button" class="btn btn-info btn-block">Kaydet</button-->
      </div>
    </div>
</div>
</div-->

<!-- Start Exam Modal -->
<div class="modal fade" id="startExamModal" tabindex="-1" role="dialog" aria-labelledby="startExamModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="startExamModalLabel">Kullanım Kılavuzu</h5> -->
        <h5 class="modal-title" id="startExamModalLabel">Erişilebilirlik Ayarları</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lead">
        <!-- Lütfen sınava başlamadan önce Kullanım Kılavuzu'nu okuyunuz. -->
        <p>Lütfen sınava başlamadan önce erişilebilirlik tercihlerinizi belirleyin. (<strong>Not:</strong> İsteğe bağlıdır.)</p>
        <form id="accessibilitySettingsForm" action="/user/save-acc-settings" method="POST">
            <div class="sr-only" aria-hidden="true">
                <input type="text" readonly id="inputStaticName" name="name" value="<%= name %>">
            </div>
            <div class="sr-only" aria-hidden="true">
                <input type="text" readonly id="inputStaticSurname" name="surname" value="<%= surname %>">
            </div>
            <div class="sr-only" aria-hidden="true">
                <input type="text" readonly id="inputStaticEmail" name="email" value="<%= email %>">
            </div>
            <div class="form-group">
                <label for="selectThemes">Tema Rengi</label>
                <select id="selectThemes" name="theme" class="form-control form-control-lg">
                    <option value="theme1">Beyaz Üzeri Siyah</option>
                    <option value="theme-sepia">Sepya Üzeri Siyah</option>
                    <option value="theme-pink" selected>Pembe Üzeri Siyah</option>
                    <option value="theme-yellow">Sarı Üzeri Siyah</option>
                    <option value="theme-lime">Yeşil Üzeri Siyah</option>
                    <option value="theme2">Siyah Üzeri Beyaz</option>
                    <option value="theme3">Siyah Üzeri Sarı</option>
                    <option value="theme4">Siyah Üzeri Yeşil</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button-->
        <button type="button" class="btn btn-info" onclick="location.href='#';">Kullanım Kılavuzu'na Git</button>
        <button id="startExamButton" type="button" class="btn btn-primary">Sınava Başla</button>
      </div>
    </div>
</div>
</div>

<!-- Ajax scripts -->
<%- include('../partials/script'); %>

</body>
</html>
