<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header-user-home'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8" style="height= 800px;">
        <div class="jumbotron">
                <% if (messages.success) { %>
                    <div class="alert alert-info font-raleway">
                        <h3>Hoş geldiniz <%= name %> <%= surname %></h3>
                    </div>
                <% } %>
                <div class="jumbotron">
                        <h3 class="font-raleway">Sınava Başla</h3>
                        <button type="button" class="btn btn-info btn-lg btn-block" onclick="location.href='/test';" >Sınava Başla</button>
                </div>
                <div class="jumbotron">
                        <h3 class="font-raleway">Kişisel Bilgiler</h3>
                        <button type="button" class="btn btn-info  btn-lg btn-block" onclick="">Kişisel Bilgi Formu</button>
                </div>
        </div>
    </div>

    <div class="col-sm-4 filter-grayscale" style="padding-top: 100px">
        <div class="jumbotron filter-grayscale" style="width: 100%; height: 100%">
                <div class="filter-blur" style="width: 100%; height: 100%">
                    <h3 class="font-raleway">Görme Engelli Bireylere Yönelik Web Tabanlı Sınav Uygulaması</h3>
                </div>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
