<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-forms'); %>
</header>

<main class="container-fluid">
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <div>
                <h1 class="display-4 font-raleway" style="font-weight:bold;">Kişisel Bilgi Formu</h1>
                <form action="/user/save-personal-info" method="POST">
                    <div class="form-group row">
                        <label for="inputStaticName" class="col-sm-2 col-form-label h6" role="heading">Ad</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="inputStaticName" name="name" value="<%= name %>" style="border:0;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputStaticSurname" class="col-sm-2 col-form-label h6" role="heading">Soyad</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="inputStaticSurname" name="surname" value="<%= surname %>" style="border:0;">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputStaticEmail" class="col-sm-2 col-form-label h6" role="heading">E-posta</label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="inputStaticEmail" name="email" value="<%= email %>" style="border:0;">
                      </div>
                    </div>
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <div class="form-group">
                        <label class="h6" for="inputAge" role="heading">Yaş</label>
                        <input type="text" class="form-control" id="inputAge" name="age" aria-describedby="" placeholder="Yazınız" required>
                    </div>
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <label class="h6" for="" role="heading">Cinsiyet</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="inputRadioGender1" value="Kadın">
                      <label class="form-check-label" for="inputRadioGender1">Kadın</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="inputRadioGender2" value="Erkek">
                      <label class="form-check-label" for="inputRadioGender2">Erkek</label>
                    </div>
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <label class="h6" for="" role="heading">Mesleğinizi belirtiniz.</label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inputCheckJob1">
                      <label class="form-check-label" for="inputCheckJob1">Öğrenci</label>
                      <div hidden id="jobStudentInfo">
                        <small class="form-text text-muted" style="margin-top:-5px;padding-top:0;">Lütfen aşağıdaki alanları doldurunuz.</small>
                        <input type="text" class="form-control" id="inputTextJobRadio1" name="studentVar1" placeholder="Okul/üniversite..." aria-label="Devam ettiğiniz okul veya üniversiteyi belirtiniz." style="margin:5px;" required>
                        <input type="text" class="form-control" id="inputTextJobRadio2" name="studentVar2" placeholder="Bölüm/sınıf..." aria-label="Devam ettiğiniz bölüm ve sınıfı belirtiniz." style="margin:5px;" required>
                      </div>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inputCheckJob2">
                      <label class="form-check-label" for="inputCheckJob2">Diğer</label>
                      <input hidden type="text" class="form-control" id="inputTextJobRadio3" name="job" placeholder="Mesleğiniz..." aria-label="Mesleğinizi belirtiniz." required>
                    </div>
                    <!--
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <label class="h6" for="" role="heading">Kullandığınız kişisel teknolojileri belirtiniz.</label>
                    <small class="form-text text-muted" style="margin-top:-10px;padding-top:0;">Birden fazla seçim yapabilirsiniz.</small>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="personalTechs" value="Akıllı telefon (iOS)" id="personalTechCheck1">
                      <label class="form-check-label" for="personalTechCheck1">Akıllı telefon (iOS)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="personalTechs" value="Akıllı telefon (Android)" id="personalTechCheck2">
                      <label class="form-check-label" for="personalTechCheck2">Akıllı telefon (Android)</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="personalTechs" value="Dizüstü bilgisayar" id="personalTechCheck3">
                      <label class="form-check-label" for="personalTechCheck3">Dizüstü bilgisayar</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="personalTechs" value="Masaüstü bilgisayar" id="personalTechCheck4">
                      <label class="form-check-label" for="personalTechCheck4">Masaüstü bilgisayar</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="personalTechs" value="Tablet bilgisayar" id="personalTechCheck5">
                      <label class="form-check-label" for="personalTechCheck5">Tablet bilgisayar</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="personalTechCheck6">
                      <label class="form-check-label" for="personalTechCheck6">Diğer</label>
                      <input hidden type="text" class="form-control" id="inputPersonalTechCheck6" name="personalTechs" aria-describedby="" placeholder="Yazınız" aria-label="Varsa sahip olduğunuz diğer kişisel teknolojileri yazınız.">
                    </div>
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <div class="form-group">
                        <label class="h6" for="inputAssistiveTechs" role="heading">Kullandığınız yardımcı teknolojileri belirtiniz.</label>
                        <textarea class="form-control" id="inputAssistiveTechs" name="assistiveTechs" rows="2" aria-describedby="" placeholder="Ekran okuyucu (ör. JAWS), ekran büyüteci (ör. Windows/Büyüteç), braille ekran vb." required></textarea>
                    </div>
                    <hr style="border:1px solid #888;" aria-hidden="true">
                    <label class="h6" for="" role="heading">Kullandığınız işletim sistemini seçiniz.</label>
                    <small class="form-text text-muted" style="margin-top:-10px;padding-top:0;">Birden fazla seçim yapabilirsiniz.</small>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="opSystem" value="Windows" id="opSystemCheck1">
                      <label class="form-check-label" for="opSystemCheck1">Windows</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="opSystem" value="macOS" id="opSystemCheck2">
                      <label class="form-check-label" for="opSystemCheck2">macOS</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="opSystemCheck3">
                      <label class="form-check-label" for="opSystemCheck3">Diğer</label>
                      <input hidden type="text" class="form-control" id="inputOpSystemCheck3" name="opSystem" aria-describedby="" placeholder="Yazınız" aria-label="Varsa kullandığınız diğer işletim sistemlerini yazınız.">
                    </div>
                    -->
                    <div style="margin-top:20px;">
                        <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    <%- include('../partials/sidebar'); %>

</div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

<!-- Ajax scripts -->
<%- include('../partials/script'); %>

</body>
</html>
